In [1]:
!pip show pymysql

Name: PyMySQL
Version: 0.10.0
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\anaconda3.7\lib\site-packages
Requires:
Required-by:

In [7]:
sql = """
CREATE TABLE product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);
"""

In [8]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',user='python',passwd='python',charset='utf8')
cursor = db.cursor()
cursor.execute(sql)
db.commit()

In [10]:
cursor.execute('drop table product')
cursor.execute('show tables')

6

In [11]:
db.close()

In [16]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',user='python',passwd='python',charset='utf8')

try:
    with db.cursor() as cursor:
#         cursor.execute(sql)
#         db.commit
        
        for num in range(10,20):
            name = 'S20'+str(num)
#             ins_sql = 'insert into product (name, model_num, model_type) values(%s, %s, %s)'
#             cursor.execute(ins_sql,(name,'7700','Phone'))
            ins_sql = "insert into product (name, model_num, model_type) values('"+name+"','7700','Phone')"
            cursor.execute(ins_sql)
            print(ins_sql)
        db.commit()
        print(cursor.lastrowid)
finally:
    db.close()

insert into product (name, model_num, model_type) values('S2010','7700','Phone')
insert into product (name, model_num, model_type) values('S2011','7700','Phone')
insert into product (name, model_num, model_type) values('S2012','7700','Phone')
insert into product (name, model_num, model_type) values('S2013','7700','Phone')
insert into product (name, model_num, model_type) values('S2014','7700','Phone')
insert into product (name, model_num, model_type) values('S2015','7700','Phone')
insert into product (name, model_num, model_type) values('S2016','7700','Phone')
insert into product (name, model_num, model_type) values('S2017','7700','Phone')
insert into product (name, model_num, model_type) values('S2018','7700','Phone')
insert into product (name, model_num, model_type) values('S2019','7700','Phone')
20

In [29]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',user='python',passwd='python',charset='utf8')

try:
    with db.cursor() as cursor:
        cursor.execute('select * from product where id = 3')
        result = cursor.fetchone()
#         print(type(result), result)
        
        upd_sql = "update product set model_type='%s' where name between 'S2020' and 'S2015'" % '핸드폰'
        cursor.execute(upd_sql)
        db.commit()
#         print(cursor.rowcount)
        cursor.execute('select * from product')
        result_list = cursor.fetchall()
#         print(type(result_list))
        for row in result_list:
#             print(row[0],row[1],row[2],row[3])
            
        #model_type별로 group by 하는 쿼리 실행
        cursor.execute('select model_type,count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)
        
finally:
    db.close()

IndentationError: expected an indented block (<ipython-input-29-0315fcdf9800>, line 22)